<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @org.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @org.desc %>
</p>

<p>
  <strong>Est date:</strong>
  <%= @org.est_date %>
</p>

<p>
  <strong>Parental Org</strong>
  <%= @org_parent.name if @org_parent.name %>
</p>


<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |mem| %>
      <tr>
        <td><%= mem.id %></td>
        <td><%= mem.first_name %></td>
        <td><%= mem.last_name %></td>
        <td><%= link_to 'Visit', mem %></td>
      </tr>
    <% end %>
  </tbody>
</table>

