<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @org.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @org.desc %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @org.parent %>
</p>

<p>
  <strong>Est date:</strong>
  <%= @org.est_date %>
</p>


<%= link_to "Claim Org", :controller => :orgs, :action => :claim %> | 

<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |mem| %>
      <tr>
        <td><%= mem.member_id %></td>
        <td><%= mem.org_id %></td>
        <td><%= link_to 'Show' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
