<h1>Welcome</h1>

<% if user_signed_in? %>
Your aliases
<table>
  <thead>
    <tr>
      <th>User ID
      <th>Member ID</th>
      <td colspan="2">Name</td>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |m| %>
      <tr>
        <td><%= m.user_id %></td>
        <td><%= m.id %></td>
        <td><%= m.first_name %></td>
        <td><%= m.last_name %></td>

      </tr>
    <% end %>
</tbody>
</table>
Your organizations
    <table>
      <thead>
      <tr>
        <th>Name
        <th>Est_Date</th>
      </tr>
      </thead>

      <tbody>
      <% @org.each do |o| %>
          <tr>
            <td><%= o.name %></td>
            <td><%= o.id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>


<% end %>

