<h1>Welcome</h1>

<% if user_signed_in? %>
<table>
  <thead>
    <tr>
      <th>/member_id</th>
      <th>/org_id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memOrg.each do |mo| %>
      <tr>
        <td><%= mo.member_id %></td>
        <td><%= mo.org_id %></td>
        <td><%= link_to 'Show' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<table>
  <thead>
    <tr>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orgs.each do |org| %>
      <tr>
        <td><%= org.name %></td>
        <td><%= org.id %></td>
        <td><%= link_to 'Show' %></td>
      </tr>
    <% end %>
  </tbody>
</table>